<header>
    <a  class="main-title" href="{{ path('main_connecte') }}">
        <h1 class="main-title">Logo Sortir.com</h1>
    </a>
    <div class="header-links">
    {% if not app.user %}
        <a class="header-link" href="{{ path('app_register') }}">S'inscrire</a>
        <a class="header-link" href="{{ path('app_login') }}">Se connecter</a>
    {% endif %}
    {% if app.user %}
        <a class="header-link" href="{{ path('main_connecte') }}">Accueil</a>
        <a class="header-link" href="{{ path('participant_monprofil') }}">Mon profil</a>
        <a class="header-link" href="{{ path('app_logout') }}">Se déconnecter</a>
        {% if is_granted('ROLE_ADMIN') %}
            <a  class="header-link" href="{{ path('admin') }}">admin</a>
        {% endif %}
    {% endif %}
    </div>
</header>