{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | Profil{% endblock %}

{% block body %}
    <h1 class="profil-title">Profil de {{ app.user.pseudo }}</h1>
    <div class="profil-bloc">
        <div class="profil-pic"></div>
        <div class="profil-form">
            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.pseudo, { label: 'Pseudo' }) }}
            {{ form_row(registrationForm.prenom, { label: 'Prénom' }) }}
            {{ form_row(registrationForm.nom, { label: 'Nom' }) }}
            {{ form_row(registrationForm.telephone, { label: 'Téléphone' }) }}
            {{ form_row(registrationForm.mail) }}
            {{ form_row(registrationForm.plainPassword, { label: 'Mot de passe' }) }}
            {{ form_row(registrationForm.campus, { label: 'Campus' }) }}
            <button type="submit" class="btn">Enregistrer</button>
            <button type="reset" class="btn">Annuler</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}



