{% extends 'base.html.twig' %}

{% block body %}
        <h1 class="detail-sortie-title">Gérer les campus</h1>
    <div class="filtrer-entete">
        <h3 class="gerer-title">Filtrer les campus</h3>
        {{ form_start(searchForm) }}
        {{ form_widget(searchForm) }}
        <button class="btn-sortie btn-gerer">Rechercher</button>
        {{ form_end(searchForm) }}
    </div>
    <table class="table table-striped-villes">
        <thead>
        <tr class="table-primary">
            <th class="head-sorties" scope="col">Campus</th>
            <th class="head-sorties" scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for campus in campuses %}
            <tr>
                <td>{{ campus.nom }}</td>
                <td>
                    <a href="{{ path('campus_modifier', {'id': campus.id}) }}">Modifier</a>
                    <a href="{{ path('campus_supprimer', {'id': campus.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        <tr>
            {{ form_start(campusForm) }}
            <td>{{ form_row(campusForm.nom) }}</td>
            <td><button class="btn-sortie btn-gerer">Valider</button></td>
            {{ form_end(campusForm) }}
        </tr>
        </tbody>
    </table>
{% endblock %}


{% block title %}
{% endblock %}

