{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block body %}
    {% set date = "now" | date('d/m/Y') %}
    <div class="mini-bloc-date">
        <div>
            <img class="mini-avatar" src="{{ asset('../ressources/images/avatar/' ~ app.user.image) }}" alt="avatar">
        </div>
        <div class="mini-bloc-infos">
            <p>Date du jour : {{ date }}</p>
            <p>Participant : {{ app.user.prenom }} {{ app.user.nom }}</p>
        </div>
    </div>
    <h1 class="filtrer-title">Filtrer les sorties</h1>
    <div class="bloc-filtres">
        <div class="filtres-gauche">
        {% form_theme filtreForm 'bootstrap_5_layout.html.twig' %}
        {{ form_start(filtreForm) }}
            {{ form_row(filtreForm.campus) }}
            {{ form_row(filtreForm.nomSortie) }}
            <div class="plage-dates">
                {{ form_row(filtreForm.dateSortieDebut) }}
                {{ form_row(filtreForm.dateSortieFin) }}
            </div>
        </div>
        <div class="filtres-droite">
            {{ form_row(filtreForm.organisateur, { label: "Sorties dont je suis l'organisateur/trice"}) }}
            {{ form_row(filtreForm.inscrit, { label: "Sorties auxquelles je suis inscrit/e"}) }}
            {{ form_row(filtreForm.pasInscrit, { label: "Sorties auxquelles je ne suis pas inscrit/e"}) }}
            {{ form_row(filtreForm.sortiesPassees, { label: "Sorties passées"}) }}
        </div>
        <div class="btn-chercher-sortie">
            <button class="btn-sortie" type="submit">Rechercher</button>
        </div>
        {{ form_end(filtreForm) }}
    </div>
    <div class="styled-table">
        <table>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>inscrits/places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
            {% for sortie in sortiesListe %}
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateHeureDebut | date('d/m/Y H:i')}}</td>
                    <td>{{ sortie.dateLimiteInscription | date('d-m-Y') }}</td>
                    <td>{{ sortie.getInscrits().count()}} /{{ sortie.nbInscriptionsMax }}</td>
                    <td>{{ sortie.etat.libelle }}</td>
                    <td>
                        {% if sortie in sortiesInscrites %}
                            <i class="fa-solid fa-check"></i>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('participant_detail', {'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.nom }}</a>
                    </td>
                    <td>
                        {% if app.user.pseudo == sortie.organisateur.pseudo  %}
                            <a href="{{ path('sortie_modifier', {'id': sortie.id}) }}">Modifier</a>
                            <a href="{{ path('sortie_detail', {'id': sortie.id}) }}">Afficher</a>
                            {% if sortie in sortiesInscrites %}
                                <a href="{{ path('sortie_desinscription', {'id': sortie.id}) }}">Se désinscrire</a>
                            {% else %}
                                <a href="{{ path('sortie_inscription', {'id': sortie.id}) }}">S'inscrire</a>
                            {% endif %}
                            <a href="{{ path('sortie_annuler', {'id': sortie.id}) }}">Annuler</a>
                        {% else %}
                            <a href="{{ path('sortie_detail', {'id': sortie.id}) }}">Afficher</a>
                            {% if sortie in sortiesInscrites %}
                                <a href="{{ path('sortie_desinscription', {'id': sortie.id}) }}">Se désinscrire</a>
                            {% else %}
                                <a href="{{ path('sortie_inscription', {'id': sortie.id}) }}">S'inscrire</a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <form class="btn-sortie-form">
            <a href="{{ path('sortie_ajouter') }}">
                <input class="btn-sortie" type="button" value="Créer une sortie">
            </a>
        </form>
    </div>
{% endblock %}
