{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/autocomplete.css') }}">
{% endblock %}

{% block body %}
    <h1 class="creer-sortie-title">Créer une sortie</h1>
    <div class="creer-sortie-form">
        <div class="creer-sortie-droite">
            {% form_theme sortieForm 'bootstrap_5_layout.html.twig' %}
            {{ form_start(sortieForm) }}
            {{ form_row(sortieForm.nom, { label: "Nom :" }) }}
            {{ form_row(sortieForm.dateHeureDebut, { label: "Date et heure de la sortie :" }) }}
            {{ form_row(sortieForm.dateLimiteInscription, { label: "Date limite d'inscription :" }) }}
            {{ form_row(sortieForm.nbInscriptionsMax, { label: "Nombre de places :" }) }}
            {{ form_row(sortieForm.duree, { label: "Durée (en minutes) :" }) }}
            {{ form_row(sortieForm.infosSortie, { label: "Description et infos :" }) }}
        </div>
        <div class="creer-sortie-gauche">
            Campus : {{ app.user.campus.nom }}
            <div class="mb-3 row">
                <label for="ville">Ville</label>
                <div class="col-sm-10" name="ville[nom]">
                    <select class="form-select" id="ville" name="sortie_form_ville">
                        {% for ville in villes %}
                            {% if ville.nom == app.user.campus.nom %}
                                <option value="{{ ville.id }}" selected>{{ ville.nom }}</option>
                            {% else %}
                                <option value="{{ ville.id }}">{{ ville.nom }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="lieu">Lieu</label>
                <div class="col-sm-10" name="lieu[nom]">
                    <select class="form-select" id="lieu" name="lieu_id"></select>
                    <a class="btn btn-primary" href="#" onclick="open_mod()">+</a>
                </div>
            </div>

            <p>Code postal : <span id="codePostal"></span></p>
            <p>Rue : <span id="rue"></span></p>
            <p>Latitude : <span id="latitude"></span></p>
            <p>Longitude : <span id="longitude"></span></p>
        </div>
    </div>

    <button type="submit" class="btn-sortie">Enregistrer</button>
    <button type="reset" class="btn-sortie">Annuler</button>
    {{ form_end(sortieForm) }}

    <div id="modal">
        <div class="mask"></div>
        <div class="container auto">
            <div class="message"></div>
            <h1 class="modif-sortie-title" id="lieutitre">Créer un lieu</h1>
            <form autocomplete="off">
                <div class="form-group">
                    <label for="lieunom">Nom*</label>
                    <input class="form-control" type="text" id="lieunom" name="lieunom" required><br>
                </div>
                <div class="form-group">
                    <label for="lieurue">Rue*</label>
                    <div class="autocomplete">
                        <input class="form-control" type="text" id="lieurue" name="lieurue" required>
                    </div>
                </div>
                <label for="lieulatitude">Latitude</label>
                <input type="text" id="lieulatitude" name="lieulatitude" value="">
                <label for="lieulongitude">Longitude</label>
                <input type="text" id="lieulongitude" name="lieulongitude" value="">
                <a class="btn btn-primary" href="#" onclick="valideLieu(); close_mod()">Enregistrer</a>
                <button type="reset" class="btn btn-primary">Effacer</button>
            </form>
            <a href="#" onclick="close_mod()" class="close">&times;</a>
        </div>
    </div>

{% endblock %}

{%  block js %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="{{ asset('js/autocomplete.js') }}"></script>
      <script src="{{ asset('js/ajout_sortie.js') }}"></script>
{% endblock %}

{% block title %}
    Sortir.com - Ajout d'une sortie
{% endblock %}

