{% extends 'base.html.twig' %}

{% block body %}
    <h1>Créer une sortie</h1>
    {{ form_start(sortieForm) }}
    {{ form_row(sortieForm.nom, { label: "Nom :" }) }}
    {{ form_row(sortieForm.dateHeureDebut, { label: "Date et heure de la sortie :" }) }}
    {{ form_row(sortieForm.dateLimiteInscription, { label: "Date limite d'inscription :" }) }}
    {{ form_row(sortieForm.nbInscriptionsMax, { label: "Nombre de places :" }) }}
    {{ form_row(sortieForm.duree, { label: "Durée :" }) }}
    {{ form_row(sortieForm.infosSortie, { label: "Description et infos :" }) }}
    Campus : {{ app.user.campus.nom }}

    <div class="mb-3 row">
        <label for="ville">Ville</label>
        <div class="col-sm-10" name="ville[nom]">
            <select class="form-select" id="ville" name="sortie_form_ville">
            {% for ville in villes %}
                <option value="{{ ville.id }}">{{ ville.nom }}</option>
            {% endfor %}
            </select>
        </div>
    </div>

    <div class="mb-3 row">
        <label for="lieu">Lieu</label>
        <div class="col-sm-10" name="lieu[nom]">
            <select class="form-select" id="lieu" name="lieu_id"></select>
        </div>
    </div>

    <p>Code postal : <span id="codePostal"></span></p>
    <p>Rue : <span id="rue"></span></p>
    <p>Latitude : <span id="latitude"></span></p>
    <p>Longitude : <span id="longitude"></span></p>

    <button type="submit" class="btn">Enregistrer</button>
    <button type="reset" class="btn">Annuler</button>
    {{ form_end(sortieForm) }}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{{ asset('js/ajout_sortie.js') }}"></script>

{% endblock %}

{% block title %}
    Sortir.com - Ajout d'une sortie
{% endblock %}

