{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block body %}
    <div class="detail-sortie-body">
        <h1 class="detail-sortie-title">{{ sortie.nom }}</h1>
        <div class="sortie-bloc">
            <div class="sortie-bloc-gauche">
                <span class="libelle-sortie">Nom de la sortie : </span><p>{{ sortie.nom }}</p>
                <span class="libelle-sortie">Date et heure de la sortie : </span><p>{{ sortie.dateHeureDebut | date("Y-m-d H:i") }}</p>
                <span class="libelle-sortie">Date limite d'inscription : </span><p>{{ sortie.dateLimiteInscription | date("Y-m-d") }}</p>
                <span class="libelle-sortie">Nombre de places : </span><p>{{ sortie.getInscrits().count()}} / {{ sortie.nbInscriptionsMax }}</p>
                <span class="libelle-sortie">Durée : </span><p>{{ sortie.duree }} minutes</p>
                <span class="libelle-sortie">Description et infos : </span><p>{{ sortie.infosSortie }}</p>
            </div>
            <div class="sortie-bloc-droit">
                <span class="libelle-sortie">Campus : </span><p>{{ sortie.campus.nom }}</p>
                <span class="libelle-sortie">Lieu : </span><p>{{ sortie.lieu.nom }}</p>
                <span class="libelle-sortie">Rue : </span><p>{{ sortie.lieu.rue }}</p>
                <span class="libelle-sortie">Code Postal : </span><p>{{ sortie.lieu.ville.codePostal }}</p>
                <span class="libelle-sortie">latitude : </span><p>{{ sortie.lieu.latitude }}</p>
                <span class="libelle-sortie">longitude : </span><p>{{ sortie.lieu.longitude }}</p>
            </div>
        </div>
{#        Tableau permettant d'afficher les participants de la sortie#}
        <h1 class="filtrer-title">Liste des inscrits</h1>
        <table class="table table-striped-participants">
            <thead>
            <tr class="table-primary">
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Pseudo</th>
                <th scope="col">Ville</th>
            </tr>
            </thead>
            <tbody>
            {% for inscrit in sortie.inscrits %}
                <tr>
                    <td>{{ inscrit.nom }}</td>
                    <td>{{ inscrit.prenom }}</td>
                    <td>{{ inscrit.pseudo }}</td>
                    <td>{{ inscrit.campus.nom }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}